.wrapper{ 
    min-height: 100vh;
    width: 100%;
  
    background-color: aliceblue;
    background-image: url(1679632113_bogatyr-club-p-fon-dlya-prezentatsii-krasno-sinii-instagr-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(12uhp.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 100%  100%; 
}  

h1{
    margin-left: 10px;
}
.email{
    margin-left: 10px;
}
.btn{ 
    margin-top: 25px;
    margin-left: 10px;
    display: block; 
    width: 100px;
    background: #ff0000;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem; 
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none; 
}